@media (max-width: 1200px) {
  .container {
    padding: 0 50px;
  }

  /*   HEADER   */
  .header {
    padding: 26px 0;
    margin-bottom: 40px;
  }

  .header__container {
    justify-content: space-between;
  }

  .header-logo {
    margin-right: 0;
  }

  .header-logo__img {
    max-width: 150px;
  }

  .header__nav {
    margin-right: 0;
  }

  .header-list {
    gap: 60px;
  }

  /*   HERO   */
  .hero__wrapper {
    padding: 160px 77px;
    background-image: url('../img/hero_1024.jpg');
  }

  .hero__title {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__text {
    font-size: 20px;
    margin-bottom: 60px;
    line-height: 24px;
  }

  .hero__btn {
    padding: 25px 35px;
    font-size: 24px;
  }
}

@media (max-width: 920px) {
  /*   HEADER   */
  .header {
    padding: 17px 0;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  .header-logo__img {
    max-width: 110px;
  }

  .header-list {
    gap: 40px;
  }

  .header__link {
    font-size: 16px;
    font-weight: 700;
  }

  /*   HERO   */
  .hero__wrapper {
    padding: 160px 40px;
    border-radius: 24px;
    background-image: url('../img/hero_768.jpg');
  }

  .hero__title {
    font-size: 50px;
    line-height: 61px;
  }

  .hero__text {
    font-size: 18px;
    margin-bottom: 60px;
    line-height: 22px;
  }

  .hero__btn {
    padding: 25px 39px;
    font-size: 23px;
  }
}

@media (max-width: 720px) {
  .container {
    padding: 0 15px;
  }

  .header {
    padding-bottom: 40px;
    margin-bottom: 20px;
    border-radius: 16px;
  }

  .header__container {
    flex-wrap: wrap;
  }

  .header__nav {
    width: 100%;
    padding-top: 20px;
    order: 3;
    overflow: scroll;
  }

  .header__nav::-webkit-scrollbar {
    display: none;
  }

  .header-list {
    gap: 24px;
  }

  .header__search {
    order: 1;
  }

   /*   HERO   */
   .hero__wrapper {
    text-align: center;
    padding: 60px 22px;
    border-radius: 16px;
    background-image: url('../img/hero_320.jpg');
  }

  .hero__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .hero__text {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 32px;
  }

  .hero__btn {
    padding: 13px 28px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }
}
