@font-face {
  font-family: 'Muller';
  src: local('Muller Regular'), local('MullerRegular'),
      url('../fonts/MullerRegular.woff2') format('woff2'),
      url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller Medium'), local('MullerMedium'),
      url('../fonts/MullerMedium.woff2') format('woff2'),
      url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller Bold'), local('MullerBold'),
      url('../fonts/MullerBold.woff2') format('woff2'),
      url('../fonts/MullerBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
  min-width: 1200px;
	font-family: 'Muller', sans-serif;
}

/* global */
:root {
  --light-gold: #F0BF5F;
  --gold: #CC9933;
  --dark-gold: #A47312;
  --white: #FFFFFF;
  --normal-grey: #999999;
}

.body {
  background-color: #F1F1F1;
}

.main {
  margin-bottom: 40px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  padding: 13px 20px;
  border-radius: 10px;
  border: 1px solid var(--gold);
  color: #CC9933;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.btn:focus {
  outline-color: var(--gold);
  background-color: var(--gold);
  color: var(--white);
}

.btn:hover {
  background-color: var(--gold);
  color: var(--white);
}

.btn:active {
  border-color: var(--dark-gold);
  background-color: var(--dark-gold);
}

.link {
  transition: color 0.3s ease-in-out;
}


.flex {
  display: flex;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 40px;
  font-size: 40px;
  font-weight: 400;
  color: #333333;
}

.text {
  margin: 0;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.section-offset {
  padding-top: 35px;
  padding-bottom: 35px;
}

.hidden {
  display: none;
}



/*   HEADER   */
.header {
  padding-top: 30px;
  padding-bottom: 35px;
}

.logo-contacts-wrap {
  align-items: center;
  margin-bottom: 30px;
}

.header-logo {
  margin-right: 40px;
}

.header-phone {
  margin-right: auto;
  font-size: 20px;
  color: #666666;
  font-weight: 500;
  text-align: center;
}

.header-phone:focus {
  color: var(--gold);
  outline: 1px solid var(--gold);
  outline-offset: 5px;
}

.header-phone:hover {
  color: var(--gold);
}

.header-phone:active {
  outline: none;
  color: var(--dark-gold);
}

.account-link {
  display: flex;
  align-items: center;
  color: var(--gold);
}

.account-link svg {
  fill: var(--gold);
  transition: fill 0.3s ease-in-out;
}

.account-link:focus {
  color: var(--gold);
  outline: 1px solid var(--gold);
  outline-offset: 5px;
}

.account-link:hover {
  color: var(--light-gold);
}

.account-link:active {
  outline: none;
  color: var(--dark-gold);
}

.account-link:focus svg {
  fill: var(--gold);
}

.account-link:hover svg {
  fill: var(--light-gold);
}

.account-link:active svg  {
  fill: var(--gold);
}

.account-link__text {
  transform: translateY(2px);
}

.account-link__svg {
  margin-right: 5px;
}

.header-nav {
  justify-content: space-between;
  align-items: center;
  padding: 14px 45px;
  border-radius: 15px;
  background-color: var(--white);
}

.header-list {
  margin-right: auto;
}

.header-link {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.header-link:focus {
  color: var(--gold);
  outline: 1px solid var(--gold);
  outline-offset: 5px;
}

.header-link:hover {
  color: var(--gold);
}

.header-link:active {
  outline: none;
  color: var(--dark-gold);
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.btn-header-wrap {
  font-size: 0;
}

.header-btn {
  font-size: 16px;
}

.header-btn:first-child {
  margin-right: 40px;
}

/*   SPECIALS   */
.specials-left-wrap {
  margin-right: 24px;
}

.specials-item {
  padding: 40px;
  width: 573px;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: flex-start;
}

.specials-item:not(:last-child) {
  margin-bottom: 24px;
}

.special-item-1 {
  background-image: linear-gradient(to right, rgba(48, 64, 89, 0.84) 0%, rgba(53, 65, 83, 0.00) 66.67%),
  url('../img/special-1.jpg');
}

.special-item-2 {
  background-image: linear-gradient(to right, rgba(48, 64, 89, 0.84) 0%, rgba(53, 65, 83, 0.00) 66.67%),
  url('../img/special-2.jpg');

}

.special-item-3 {
  background-image: linear-gradient(to top, rgba(48, 64, 89, 0.84) 0%, rgba(53, 65, 83, 0.00) 66.67%),
  url('../img/special-3.jpg');
}

.specials-title {
  margin: 0;
  margin-bottom: 15px;
  max-width: 420px;
  font-family: 'Muller Bold', sans-serif;
  font-size: 40px;
  color: var(--white);
  font-weight: 700;
}

.special-item-3 .specials-title {
  font-size: 60px;
}

.specials-price {
  margin-bottom: 47px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

.special-item-3 .specials-price {
  font-size: 30px;
}

.more-special {
  padding-right: 15px;
  background-image: url('../img/more-arrow.svg');
  background-repeat: no-repeat;
  background-position: right;
  color: var(--light-gold);
  transition: padding-right 0.6s;
}

.more-special:hover {
  padding-right: 25px;
  transition: padding-right 0.6s;
}

.more-special:active {
  outline: none;
  color: var(--white);
}

.more-special::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  outline: 1px solid #CC9933;
  outline-offset: 5px;
  pointer-events: none;
}

.more-special:focus::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  transition: opacity 0.6s;
  opacity: 1;
  outline: 1px solid #CC9933;
  outline-offset: 5px;
}

/*   about-us   */
.about-us-text {
  max-width: 888px;
}


/*   services   */
.services-list {
  flex-wrap: wrap;
}

.services-item {
  position: relative;
  min-height: 330px;
  padding: 26px 45px;
  padding-top: 191px;
  width: 573px;
  margin-bottom: 24px;
  margin-right: 24px;
  border-radius: 15px;
  background-color: var(--white);
  background-repeat: no-repeat;
  background-position: top center;
}

.service-item-1 {
  background-image: url('../img/services-1.jpg');
}

.service-item-2 {
  background-image: url('../img/services-2.jpg');
}

.service-item-3 {
  background-image: url('../img/services-3.jpg');
}

.service-item-4 {
  background-image: url('../img/services-4.jpg');
}

.services-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.services-item:nth-child(2n) {
  margin-right: 0;
}

.service-title {
  margin: 0;
  font-family: 'Muller Medium', sans-serif;
}

.service-title-link {
  align-items: center;
  width: fit-content;
  color: var(--gold);
  font-size: 20px;
  line-height: 200%;
  font-weight: 500;
}

.service-title-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  outline: 1px solid #CC9933;
  outline-offset: 5px;
  opacity: 0;
  pointer-events: none;
}

.service-title-link:focus {
  outline: none;
}


.service-title-link:focus::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  outline: 1px solid #CC9933;
  outline-offset: 5px;
  transition: opacity 0.6s;
  opacity: 1;
}

.service-title-link:hover {
  color: var(--light-gold);
}

.service-title-link:active {
  color: var(--dark-gold);
}

.service-title-link svg {
  transition: stroke 0.3s ease-in-out;
  stroke: var(--gold);
  transition: transform 0.3s;
}

.service-title-link:hover svg {
  stroke: var(--light-gold);
  transform: translateX(10px);
  transition: transform 0.3s;
}

.service-title-link:active svg {
  stroke: var(--gold);
}

.service-title-link__svg {
  transform: translateX(5px);
}


/*   advantages   */
.advantages-list {
  flex-wrap: wrap;
}

.advantages-item {
  width: 276px;
  padding: 116px 42px 32px 45px;
  margin-bottom: 22px;
  margin-right: 22px;
  background-color: var(--white);
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.advantages-item:nth-child(4n) {
  margin-right: 0;
}

.advantages-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.adv-item-1 {
  background-image: url('../img/advant-1.svg');
}

.adv-item-2 {
  background-image: url('../img/advant-2.svg');
}

.adv-item-3 {
  background-image: url('../img/advant-3.svg');
}

.adv-item-4 {
  background-image: url('../img/advant-4.svg');
}

.adv-item-5 {
  background-image: url('../img/advant-5.svg');
}

.adv-item-6 {
  background-image: url('../img/advant-6.svg');
}

.adv-item-7 {
  background-image: url('../img/advant-7.svg');
}

.adv-item-8 {
  background-image: url('../img/advant-8.svg');
}

/*   placement   */
.placement-list {
  flex-wrap: wrap;
}

.placement-item {
  width: 374px;
  margin-bottom: 24px;
  margin-right: 24px;
  background-color: var(--white);
  border-radius: 15px;
  overflow: hidden;
}

.placement-item:nth-child(3n) {
  margin-right: 0;
}

.placement-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.placement-preview-image {
  display: block;

}

.placement-preview-text {
  flex-direction: column;
  padding: 45px;
  padding-top: 32px;
}

.placement-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
}

.price {
  font-size: 20px;
}

.price-rating {
  margin-bottom: 16px;
  justify-content: space-between;
}

.country-city {
  margin-bottom: 20px;
  color: var(--normal-grey);
}

.from-placememnt {
  color: var(--normal-grey);
}

.to-all-placements {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 27px;
  font-size: 20px;
  color: var(--white);
  background-image: url('../img/all-placements.jpg');
  background-size: cover;
  position: relative;
}

.all-placements-link {
  padding-right: 18px;
  background-image: url('../img/maore-arrow-white.svg');
  background-repeat: no-repeat;
  background-position: right center;
}

.all-placements-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}


/*   ORDER A TOUR   */
.order-tour-wrapper {
  padding: 45px;
  border-radius: 15px;
  background-color: #E9E9E9;
}

.order-tour-title {
  position: relative;
  right: 5px;
  padding: 0;
  color: #000000;
  margin-bottom: 20px;

}

.order-tour-form {
  padding: 31px 28px;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background-color: var(--white);
}

.field-label {
  display: block;
  font-size: 12px;
  margin-bottom: 15px;
}

.order-field {
  border: none;
}

.select-field {
  appearance: none;
  width: 170px;
}

select:not([multiple]) {
  padding-right: 1.2em;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.25em) 0.35em;
  background-image: url('../img/select-arrow.svg');
}

.input-field {
  width: 120px
}

.num-field {
  border-bottom: 1px solid #E9E9E9;
}

.num-field::-webkit-inner-spin-button,
.num-field::-webkit-outer-spin-button {
  opacity: 1;
}

.btn-order {
  padding: 13px 30px;
}


/*   CONTACTS   */
.contacts {
  padding-top: 35px;
}

.contacts-content {
  padding: 45px;
  justify-content: space-between;
  border-radius: 15px;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  background-color: var(--white);
}

.contacts-content__address {
  max-width: 375px;
  width: 100%;
}

.contacts-content::after {
  content: "";
  width: 653px;
  background-image: url('../img/contacts-photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.address {
  margin-bottom: 45px;
  font-style: normal;
}

.contacts-item {
  padding-bottom: 23px;
  margin-bottom: 25px;
  justify-content: space-between;
  border-bottom: 1px solid #E9E9E9;
}

.contacts-item:last-child {
  margin-bottom: 0;
}

.contacts-title {
  font-size: 20px;
}

.address-text {
  margin: 0;
  max-width: 229px;
  width: 100%;
}

.contacts-link {
  width: fit-content;
  display: block;
  color: var(--gold);
}

.contacts-link:hover {
  color: var(--light-gold);
}

.contacts-link:focus {
  color: var(--gold);
  outline: 1px solid var(--gold);
  outline-offset: 5px;
}

.contacts-data-wrapper {
  max-width: 229px;
  width: 100%;
}

.contact-label {
  color: var(--normal-grey);
}

.btn-contacts {
  padding: 27px 30px;
}


/*   FOOTER   */
.footer {
  padding-bottom: 30px;
}
.footer-wrapper {
  padding: 45px;
  background-color: #333333;
  border-radius: 15px;
  color: var(--white);
  background-image: url('../img/footer-sun.png');
  background-repeat: no-repeat;
  background-position: 731px bottom;
}

.footer-additional {
  max-width: 302px;
  margin-right: 125px;
}

.foter-additional-text {
  margin: 0;
  margin-bottom: 40px;
  line-height: 190%;
  font-size: 16px;
  font-weight: 400;
}

.footer-contacts {
  margin-right: auto;
}

.footer-contacts-list {
  font-style: normal;
}

.footer-contacts-item:nth-child(2) {
  margin-bottom: 15px;
}

.footer-link {
  display: block;
  width: fit-content;
  line-height: 150%;
  color: var(--gold)
}

.footer-link:focus {
  outline: 1px solid var(--gold);
  outline-offset: 5px;
  color: var(--gold);
}

.footer-link:hover {
  color: var(--light-gold);
}

.footer-link:active {
  outline: none;
  color: var(--dark-gold);
}

.footer-address {
  font-style: normal;
  margin-bottom: 15px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 15px;
}

.socials-list-item {
  font-size: 0;
}

.socials-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.social-link svg {
  fill: var(--normal-grey);
  transition: fill 0.3s ease-in-out;
}

.social-link:focus svg {
  outline: none;
  fill: var(--gold);
}

.social-link:hover svg {
  fill: var(--gold);
}

.social-link:active svg{
  fill: var(--dark-gold);
}
